#root {
  text-align: center;
}

.chatbot {
  display: inline-block;
  /* display: flex; */
  font-family: monospace;
  border-radius: 10px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
  background: #f5f8fb;
  text-align: center;
  flex-flow: column;
  max-width: 1000px;
  width: 100%;
  overflow: hidden;
}

.header {
  padding: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  max-height: 58px;
  font-size: 16px;
  font-weight: bold;
  background-color: #002f50;
}

.messages {
  width: 100%;
  min-height: 400px;
  max-height: 600px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.bot-message {
  /* float: left; */
  padding: 15px 20px;
  margin: 5px;
  border-radius: 20px 20px 20px 1px;
  background: #00aaa5;
  color: white;
  min-width: 40px;
}

.user-message {
  width: max-content;
  padding: 15px 10px;
  margin: 10px;
  border-radius: 20px 20px 1px 20px;
  background: #cccccc;
  color: black;
}

.input {
  position: relative;
}

.input > form > input[type="text"] {
  font-family: monospace;
  font-size: 16px;
  border: 0;
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #eee;
  box-shadow: none;
  box-sizing: border-box;
  opacity: 1;
  outline: none;
  padding: 16px 52px 16px 10px;
  width: 100%;
  -webkit-appearance: none;
}

.input > form > input:focus {
  outline: none;
}

.input > form > button {
  background-color: transparent;
  border: 0;
  border-bottom-right-radius: 10px;
  box-shadow: none;
  cursor: pointer;
  fill: #4a4a4a;
  opacity: 1;
  outline: none;
  padding: 14px 16px 12px 16px;
  position: absolute;
  right: 0;
  top: 0;
}


/* Styles added by Herman */
.message-container:has(.user-message) {
  text-align: right;
}
.user-message {
  display: inline-block;
}

.text-container {
  text-align: left;
  padding: 10px;
}

.content-container {
  background-color: #cccccc;
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  text-align: left;
}

.video-container {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.video-container > .container:not(:nth-last-child(0)) {
  padding-bottom: 10px;
}
.video-container > .container {
  padding-left: 10px;
  padding-right: 10px;
}

.description-container {
  padding: 10px;
  padding-left: 20px;
  color: black;
  font-weight: bold;
}

.video-description {
  text-align: center;
  font-size: large;
  padding: 5px;
}

.horizontal-scroll-container  {
  overflow-y: scroll;
  white-space: nowrap;
}

.horizontal-scroll-container > .container {
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.horizontal-scroll-container > .container:not(:last-child) {
  padding-right: 5px;
}

.thumbnail-container {
  height: 150px;
  transition: height 0.5s;
}
.thumbnail-container:hover {
  height: 180px;
}


.scene-description-container {
  font-size: large;
  text-align: center;
  color: black;
  padding: 3px;
}

.scene-container > .thumbnail-container:hover {
  height: 200px;
}

.thumbnail-container > .image-container {
  height: 100%;
}

.image-container img {
  height: 100%;
}

.player-container {
  height: 300px;
}

.player-wrapper {
  height: 100%;
  /* margin-left: 50%;
  transform: translateX(-50%); */
}